<br>
<h3>Categorias</h3>
<hr>
<div class="card">
  <div class="card-header text-right">
    <a class="btn btn-primary" role="button" [routerLink]="['/bolos-montagem/novo']">Nova categoria</a>
  </div>
  <div class="card-body">
    <table class="table grid">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let monte of montagem | async" >
          <td>{{ monte.nome }}</td>
          <td class="edit">
            <a class="btn btn-warning text-white" role="button" [routerLink]="['/bolos-montagem/editar', monte.key]"><i class="far fa-edit"></i>Editar</a>
          </td>
          <td class="delete">
            <button class="btn btn-danger" (click)="remover(monte.key)"><i class="far fa-trash-alt"></i>Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

