<footer>
  <br>
   <ul class="nav justify-content-center nav-light" style="background-color: #FED6F9">
     <li class="nav-item">
       <a class="nav-link active nav-light mr-5 text-body" href="index.html">Home</a>
     </li>
     <li class="nav-item">
       <a class="nav-link mr-5 text-body" href="sobre.html">Categorias</a>
     </li>
     <li class="nav-item">
       <a class="nav-link mr-5 text-body" href="bolo.html">Categoria de Montagem</a>
     </li>
     <li class="nav-item">
       <a class="nav-link mr-5 text-body" href="monte.html">Itens de Montagem</a>
     </li>
     <li class="nav-item">
       <a class="nav-link active mr-5 text-body" href="galeria.html">Produtos</a>
     </li>
     <li class="nav-item">
       <a class="nav-link active mr-5 text-body" href="contato.html">Pedidos</a>
     </li>
   </ul>
 </footer>
